.delete-container {
  background-color: rgba(255, 183, 0, 0.3);
  width: 100%;
  border-radius: 60px 7px 60px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.delete-select {
  width: fit-content;
  padding: 1%;
  font-size: 2.5vh;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 16px;
  outline: 0;
  border: none;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
  height: fit-content;
  margin-top: 2%;
  align-items: center;
}

.delete-instructions {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 2.75vh;
}